@{
    ViewData["Title"] = "Delete";
}
@model MySQLBowler.Models.Bowler
<h2 class="m-4">Confirm Deletion</h2>
<h5 class="mx-4 my-2">Are you sure you want to delete the record for:</h5>
<ul class="mx-4 my-2" style="list-style-type:none">
    <li><h5>Bowler Name: <span class="text-muted">@Model.BowlerFirstName</span> </h5></li>
</ul>
<form class="m-4" method="post" asp-action="Delete">
    <button class="btn btn-outline-secondary" type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="BowlerID" />

</form>