@{
    ViewData["Title"] = (ViewBag.Page == "New" ? "Add New Bowler" : "Edit Bowler");
}

@model MySQLBowler.Models.Bowler

<h3>New Bowler Form</h3>
<br />
<br />
<div style="position: relative; width: 100%; height: 700px; display:flex; justify-content:center;">
 
    <form method="post" class="form contactForm Form">

        @if (ViewBag.Page == "New")
        {
            <input type="hidden" asp-for="BowlerID" value="0" />
        }
        else
        {
            <div asp-validation-summary="All"></div>
            <div class="form-group invisible">
                <label asp-for="BowlerID">Bowler ID</label>
                <input type="hidden" asp-for="BowlerID" class="form-control" />
            </div>
        }
        <div class="form-group">
            <label asp-for="BowlerFirstName">First Name</label>
            <input asp-for="BowlerFirstName" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerMiddleInit">Middel Name</label>
            <input asp-for="BowlerMiddleInit" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerLastName">Last Name</label>
            <input asp-for="BowlerLastName" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerAddress">Address</label>
            <input asp-for="BowlerAddress" />
        </div>

        <div class="form-group"></div>
        <label asp-for="BowlerCity">City</label>
        <input asp-for="BowlerCity" />
        <br><br>

        <div class="form-group">
            <label asp-for="BowlerState">State</label>
            <input asp-for="BowlerState" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerZip">Zip Code</label>
            <input asp-for="BowlerZip" />
        </div>

        <div class="form-group">
            <label asp-for="BowlerPhoneNumber">Phone Number</label><br>
            <input asp-for="BowlerPhoneNumber" maxlength="11" />
        </div>
        <div class="form-group">
            <label asp-for="TeamID">Bowler Team</label>
            <select asp-for="TeamID">

                <option value="">Select a Team</option>
                <vc:team-id></vc:team-id>

            </select>
        </div>

        <br />
        <button class="btn btn-primary" type="submit">@(ViewBag.Page == "New" ? "Add New Bowler" : "Make Changes")</button>
    </form>
</div>